body{
    background-color: #F7ECDE;

}
h1{
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 500;
    position: relative;
}
h1::after{
    content: "";
    position: absolute;
    width:80%;
    height: 15%;
    left: 0;
    bottom: 55px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
h1:hover::after{
    height: 25%;
}
.go{
    background-color: #d1512d;
    color: white;
}
.go:hover{
    background-color: #BB4120;
    color: white;
}
.super{
    box-sizing: border-box;
    border-style: dotted;
    height: 1px;
    width: 75%;
    left:10% ;
    top: 20%;
    position: absolute;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
.pus{
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

h2{font-family: Righteous;
font-weight: 500;


}
h2::selection{
background-color: #FEC260;
color: black;}
label::selection{
    background-color: #FEC260;
}
h1::selection{
    background-color: #FEC260;
}